.filmes{
    color: white;
    font-size: 35px;
    margin-top: 90px;
    padding-left: 50px;
    padding-top: 20px;
    margin-bottom: -50px;
    background-color: rgba(19, 18, 18, 0.993);
    height: 50px;
}
